<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Song Long Lãm Hải</string>
	<key>DO</key>
	<array>
		<string>393</string>
		<string>695</string>
		<string>795</string>
	    <string>481</string>
		<string>371</string>
		<string>476</string>
		<string>124</string>
		<string>223</string>
	</array>
	<key>XANH</key>
	<array>
		<string>083</string>
		<string>133</string>
		<string>321</string>
		<string>526</string>
		<string>411</string>
		<string>605</string>
		<string>705</string>
		<string>804</string>
	</array>
</dict>
</plist>
