<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Điều binh khiển tướng</string>
	<key>DO</key>
	<array>
		<string>140</string>
		<string>050</string>
		<string>250</string>
	    <string>445</string>
		<string>576</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>785</string>
		<string>022</string>
		<string>316</string>
	</array>
</dict>
</plist>
