<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Giả đạo phạt quắc</string>
	<key>DO</key>
	<array>
		<string>386</string>
		<string>371</string>
		<string>025</string>
	</array>
	<key>XANH</key>
	<array>
		<string>673</string>
		<string>734</string>
		<string>422</string>
		<string>406</string>
	</array>
</dict>
</plist>
