<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tung hoành trí sinh</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>496</string>
		<string>481</string>
	    <string>273</string>
		<string>323</string>
		<string>315</string>
		<string>515</string>
	</array>
	<key>XANH</key>
	<array>
		<string>095</string>
		<string>385</string>
		<string>263</string>
		<string>004</string>
		<string>406</string>
	</array>
</dict>
</plist>
