<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Xa mã đồng công</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>591</string>
		<string>481</string>
	    <string>553</string>
		<string>310</string>
		<string>510</string>
		<string>200</string>
		<string>600</string>
	</array>
	<key>XANH</key>
	<array>
		<string>265</string>
		<string>054</string>
		<string>153</string>
		<string>245</string>
		<string>406</string>
	</array>
</dict>
</plist>
