<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Diệu chước liên châu</string>
	<key>DO</key>
	<array>
		<string>292</string>
		<string>396</string>
		<string>591</string>
	    <string>793</string>
		<string>481</string>
		<string>683</string>
		<string>875</string>
		<string>860</string>
		<string>652</string>
	    <string>854</string>
		<string>744</string>
		<string>530</string>
		<string>425</string>
		<string>410</string>
		<string>210</string>
		<string>500</string>
	
	</array>
	<key>XANH</key>
	<array>
		<string>885</string>
		<string>370</string>
		<string>470</string>
		<string>573</string>
		<string>770</string>
		<string>560</string>
		<string>663</string>
		<string>350</string>
		<string>024</string>
		<string>005</string>
		<string>306</string>
		<string>804</string>
	</array>
</dict>
</plist>
