<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ván cờ năm Quốc Khánh 88</string>
	<key>DO</key>
	<array>
		<string>293</string>
		<string>391</string>
		<string>596</string>
	    <string>794</string>
		<string>883</string>
		<string>274</string>
		<string>472</string>
		<string>675</string>
		<string>460</string>
	    <string>652</string>
		<string>730</string>
		<string>830</string>
		<string>725</string>
		<string>110</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>280</string>
		<string>380</string>
		<string>480</string>
		<string>170</string>
		<string>440</string>
		<string>134</string>
		<string>234</string>
		<string>022</string>
		<string>306</string>
		<string>605</string>
		<string>805</string>
	</array>
</dict>
</plist>
