<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tuyệt Hổ Truy Tông</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>496</string>
		<string>481</string>
	    <string>472</string>
		<string>652</string>
		<string>233</string>
		<string>320</string>
		<string>625</string>
		<string>410</string>
	    <string>106</string>
		<string>805</string>
	</array>
	<key>XANH</key>
	<array>
		<string>580</string>
		<string>680</string>
		<string>670</string>
		<string>864</string>
		<string>345</string>
		<string>444</string>
		<string>643</string>
		<string>306</string>
		<string>705</string>
	</array>
</dict>
</plist>
