<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Pháo chấn quân vy</string>
	<key>DO</key>
	<array>
		<string><496/string>
		<string>785</string>
		<string>114</string>
	    <string>610</string>
	</array>
	<key>XANH</key>
	<array>
		<string>280</string>
		<string>880</string>
		<string>770</string>
		<string>160</string>
		<string>150</string>
		<string>133</string>
		<string>123</string>
		<string>411</string>
		<string>301</string>
		<string>506</string>
	</array>
</dict>
</plist>
