<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Thần kỳ đột vây</string>
	<key>DO</key>
	<array>
		<string>596</string>
		<string>872</string>
		<string>844</string>
	    <string>620</string>
		<string>503</string>
	</array>
	<key>XANH</key>
	<array>
		<string>390</string>
		<string>790</string>
		<string>183</string>
		<string>680</string>
		<string>670</string>
		<string>864</string>
		<string>326</string>
	</array>
</dict>
</plist>
