<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Xảo Phá Nan Quan</string>
	<key>DO</key>
	<array>
		<string>472</string>
		<string>576</string>
		<string>675</string>
	    <string>774</string>
		<string>453</string>
		<string>334</string>
		<string>215</string>
	    <string>410</string>
		<string>100</string>
		<string>500</string>
	</array>
	<key>XANH</key>
	<array>
		<string>280</string>
		<string>550</string>
		<string>753</string>
		<string>440</string>
		<string>424</string>
		<string>306</string>
	</array>
</dict>
</plist>
