<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ngũ thử náo đông kinh</string>
	<key>DO</key>
	<array>
		<string>292</string>
		<string>391</string>
		<string>496</string>
	    <string>481</string>
		<string>472</string>
		<string>220</string>
		<string>420</string>
		<string>620</string>
		<string>410</string>
	    <string>510</string>
	</array>
	<key>XANH</key>
	<array>
		<string>550</string>
		<string>653</string>
		<string>755</string>
		<string>855</string>
		<string>306</string>
	</array>
</dict>
</plist>
