<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Lôi chấn tam sơn khẩu</string>
	<key>DO</key>
	<array>
		<string>294</string>
		<string>396</string>
		<string>375</string>
	    <string>230</string>
		<string>420</string>
		<string>310</string>
		<string>510</string>
	</array>
	<key>XANH</key>
	<array>
		<string>480</string>
		<string>670</string>
		<string>775</string>
		<string>814</string>
		<string>406</string>
		<string>602</string>
		<string>805</string>
	</array>
</dict>
</plist>
