<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
	<string>Thế cờ</string>
	<key>XANH</key>
	<array>
		<string>005</string>
		<string>103</string>
		<string>202</string>
		<string>301</string>
		<string>406</string>
		<string>501</string>
		<string>602</string>
		<string>703</string>
		<string>805</string>
		<string>124</string>
		<string>724</string>
		<string>030</string>
		<string>230</string>
		<string>430</string>
		<string>630</string>
		<string>830</string>
	</array>
	<key>DO</key>
	<array>
		<string>095</string>
		<string>193</string>
		<string>292</string>
		<string>391</string>
		<string>496</string>
		<string>591</string>
		<string>692</string>
		<string>793</string>
		<string>895</string>
		<string>174</string>
		<string>774</string>
		<string>060</string>
		<string>260</string>
		<string>460</string>
		<string>660</string>
		<string>860</string>
	</array>
</dict>
</plist>
