<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Thất tinh tụ hội</string>
	<key>DO</key>
	<array>
		<string>495</string>
		<string>596</string>
		<string>472</string>
	    <string>120</string>
		<string>420</string>
		<string>310</string>
		<string>510</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>570</string>
		<string>830</string>
		<string>724</string>
		<string>406</string>
		<string>605</string>
		<string>705</string>
	</array>
</dict>
</plist>
