<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Bị dụng đột vây</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>895</string>
		<string>072</string>
	    <string>340</string>
		<string>620</string>
		<string>715</string>
		<string>214</string>
	</array>
	<key>XANH</key>
	<array>
		<string>190</string>
		<string>480</string>
		<string>453</string>
		<string>750</string>
		<string>326</string>
		<string>411</string>
		<string>501</string>
	</array>
</dict>
</plist>
