<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ngũ nhất bài cuộc</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>493</string>
		<string>371</string>
	    <string>472</string>
		<string>576</string>
		<string>460</string>
		<string>660</string>
		<string>250</string>
		<string>355</string>
	    <string>654</string>
		<string>754</string>
		<string>313</string>
		<string>715</string>
	</array>
	<key>XANH</key>
	<array>
		<string>290</string>
		<string>590</string>
		<string>694</string>
		<string>483</string>
		<string>673</string>
		<string>450</string>
		<string>550</string>
		<string>430</string>
		<string>215</string>
		<string>411</string>
		<string>516</string>
		<string>614</string>	
	</array>
</dict>
</plist>
