<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Song Pháo Truyền Kỳ</string>
	<key>DO</key>
	<array>
		<string>595</string>
		<string>383</string>
		<string>481</string>
	    <string>586</string>
		<string>274</string>
		<string>371</string>
		<string>873</string>
		<string>260</string>
		<string>234</string>
	    <string>320</string>
		<string>625</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>670</string>
		<string>150</string>
		<string>354</string>
		<string>454</string>
		<string>145</string>
		<string>306</string>
	</array>
</dict>
</plist>
