<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Trực đáo hoàng long</string>
	<key>DO</key>
	<array>
		<string>804</string>
		<string>320</string>
		<string>625</string>
	    <string>725</string>
		<string>391</string>
		<string>496</string>
		<string>591</string>
		<string>692</string>
	</array>
	<key>XANH</key>
	<array>
		<string>202</string>
		<string>301</string>
		<string>406</string>
		<string>411</string>
		<string>213</string>
		<string>422</string>
		<string>3755</string>
		<string>570</string>
		<string>195</string>
		<string>094</string>
	</array>
</dict>
</plist>
