<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Mã Pháo Tranh Công</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>385</string>
		<string>481</string>
	    <string>375</string>
		<string>571</string>
		<string>420</string>
		<string>520</string>
		<string>410</string>
		<string>513</string>
	</array>
	<key>XANH</key>
	<array>
		<string>794</string>
		<string>270</string>
		<string>773</string>
		<string>464</string>
		<string>506</string>
	</array>
</dict>
</plist>
