<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Mã Pháo Liên Công</string>
	<key>DO</key>
	<array>
		<string>371</string>
		<string>472</string>
		<string>576</string>
	    <string>675</string>
		<string>774</string>
		<string>660</string>
		<string>353</string>
		<string>450</string>
		<string>652</string>
	    <string>433</string>
		<string>834</string>
		<string>520</string>
		<string>720</string>
		<string>215</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>163</string>
		<string>550</string>
		<string>753</string>
		<string>440</string>
		<string>824</string>
		<string>306</string>
	</array>
</dict>
</plist>
