<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ảo vận kim bài</string>
	<key>DO</key>
	<array>
		<string>486</string>
		<string>371</string>
		<string>252</string>
	    <string>453</string>
		<string>555</string>
		<string>652</string>
		<string>234</string>
		<string>330</string>
		<string>535</string>
	    <string>420</string>
		<string>314</string>
		<string>413</string>
		<string>510</string>
		<string>200</string>
		<string>600</string>
	  	</array>
	<key>XANH</key>
	<array>
		<string>570</string>
		<string>263</string>
		<string>660</string>
		<string>150</string>
		<string>355</string>
		<string>750</string>
		<string>044</string>
		<string>445</string>
		<string>844</string>
		<string>433</string>
		<string>301</string>
		<string>406</string>
		<string>501</string>
		<string>630</string>
	</array>
</dict>
</plist>
