<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ván cờ chữ Á</string>
	<key>DO</key>
	<array>
		<string>275</string>
		<string>376</string>
		<string>472</string>
	    <string>571</string>
		<string>675</string>
		<string>252</string>
		<string>643</string>
		<string>234</string>
		<string>633</string>
	    <string>220</string>
		<string>320</string>
		<string>310</string>
		<string>510</string>
		<string>600</string>
		<string>704</string>
	</array>
	<key>XANH</key>
	<array>
		<string>364</string>
		<string>560</string>
		<string>350</string>
		<string>550</string>
		<string>653</string>
		<string>243</string>
		<string>525</string>
		<string>624</string>
		<string>105</string>
	    <string>202</string>
		<string>301</string>
		<string>406</string>
		<string>501</string>
	</array>
</dict>
</plist>
