<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ván cờ chữ Châu</string>
	<key>DO</key>
	<array>
		<string>072</string>
		<string>476</string>
		<string>465</string>
	    <string>663</string>
		<string>154</string>
		<string>250</string>
		<string>652</string>
		<string>443</string>
		<string>644</string>
	    <string>230</string>
		<string>635</string>
		<string>020</string>
		<string>620</string>
		<string>610</string>
	</array>
	<key>XANH</key>
	<array>
		<string>680</string>
		<string>274</string>
		<string>673</string>
		<string>260</string>
		<string>355</string>
		<string>453</string>
		<string>550</string>
		<string>045</string>
		<string>242</string>
		<string>430</string>
		<string>224</string>
		<string>426</string>
	</array>
</dict>
</plist>
