<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Đạn vô hư phát</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>591</string>
		<string>371</string>
		<string>110</string>
		<string>120</string>
		<string>015</string>
	</array>
	<key>XANH</key>
	<array>
		<string>406</string>
		<string>202</string>
		<string>040</string>
		<string>242</string>
		<string>444</string>
		<string>254</string>
		<string>850</string>
	</array>
</dict>
</plist>
