<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Mã pháo xảo thắng</string>
	<key>DO</key>
	<array>
		<string>591</string>
		<string>386</string>
		<string>481</string>
	    <string>252</string>
		<string>013</string>
		<string>005</string>
		<string>103</string>
	</array>
	<key>XANH</key>
	<array>
		<string>163</string>
		<string>022</string>
		<string>202</string>
		<string>304</string>
		<string>406</string>
	</array>
</dict>
</plist>
