<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Mã để binh phá song Sĩ Tượng</string>
	<key>DO</key>
	<array>
		<string>591</string>
		<string>386</string>
		<string>371</string>
	    <string>652</string>
	</array>
	<key>XANH</key>
	<array>
		<string>190</string>
		<string>243</string>
		<string>306</string>
	</array>
</dict>
</plist>
