<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ngọc nữ xuyên thoa</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>571</string>
		<string>530</string>
	    <string>210</string>
		<string>310</string>
		<string>410</string>
		<string>700</string>
	</array>
	<key>XANH</key>
	<array>
		<string>780</string>
		<string>370</string>
		<string>355</string>
		<string>242</string>
		<string>422</string>
		<string>506</string>
	</array>
</dict>
</plist>
