<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tả hữu khai cung</string>
	<key>DO</key>
	<array>
		<string>292</string>
		<string>391</string>
		<string>496</string>
	    <string>481</string>
		<string>472</string>
		<string>155</string>
		<string>853</string>
		<string>523</string>
	    <string>210</string>
		<string>415</string>
		<string>504</string>
	</array>
	<key>XANH</key>
	<array>
		<string>084</string>
		<string>183</string>
		<string>755</string>
		<string>743</string>
		<string>306</string>
		<string>704</string>
	</array>
</dict>
</plist>
