<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Dĩ cung vi thuẫn</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>596</string>
		<string>693</string>
	    <string>794</string>
		<string>894</string>
		<string>481</string>
		<string>252</string>
		<string>652</string>
		<string>420</string>
	    <string>015</string>
		<string>210</string>
		<string>510</string>
		<string>705</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>685</string>
		<string>783</string>
		<string>450</string>
		<string>043</string>
		<string>230</string>
		<string>434</string>
		<string>321</string>
	    <string>822</string>
		<string>406</string>
		<string>602</string>
	</array>
</dict>
</plist>
