<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ván cờ mùa xuân năm 89</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>386</string>
		<string>371</string>
	    <string>030</string>
		<string>730</string>
		<string>110</string>
		<string>415</string>
	</array>
	<key>XANH</key>
	<array>
		<string>584</string>
		<string>270</string>
		<string>575</string>
		<string>670</string>
		<string>306</string>
		<string>602</string>
	</array>
</dict>
</plist>
