<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ván cờ Tết Nguyên Đán năm 93</string>
	<key>DO</key>
	<array>
		<string>095</string>
		<string>292</string>
		<string>393</string>
	    <string>496</string>
		<string>591</string>
		<string>794</string>
		<string>481</string>
		<string>472</string>
		<string>850</string>
	    <string>530</string>
		<string>630</string>
		<string>834</string>
		<string>223</string>
		<string>310</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>273</string>
		<string>664</string>
		<string>645</string>
		<string>411</string>
		<string>406</string>
		<string>501</string>
		<string>604</string>
	</array>
</dict>
</plist>
