<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Hổ khẩu bạt ba</string>
	<key>DO</key>
	<array>
		<string>391</string>
		<string>496</string>
		<string>594</string>
	    <string>481</string>
		<string>585</string>
		<string>120</string>
		<string>410</string>
		<string>810</string>
	</array>
	<key>XANH</key>
	<array>
		<string>280</string>
		<string>380</string>
		<string>560</string>
		<string>724</string>
		<string>506</string>
		<string>705</string>
		<string>803</string>
	</array>
</dict>
</plist>
