<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Dẫn hổ nhập lung</string>
	<key>DO</key>
	<array>
		<string>486</string>
		<string>455</string>
	</array>
	<key>XANH</key>
	<array>
		<string>753</string>
		<string>830</string>
		<string>022</string>
		<string>326</string>
		<string>202</string>
		<string>305</string>
		<string>501</string>
	</array>
</dict>
</plist>
