<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Khổng Tước Đông Phi</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>872</string>
		<string>330</string>
	    <string>430</string>
		<string>210</string>
		<string>415</string>
		<string>605</string>
		<string>804</string>
	</array>
	<key>XANH</key>
	<array>
		<string>593</string>
		<string>695</string>
		<string>064</string>
		<string>202</string>
		<string>306</string>
		<string>501</string>
	</array>
</dict>
</plist>
