<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tiên phát chế nhân</string>
	<key>DO</key>
	<array>
		<string>496</string>
		<string>481</string>
		<string>472</string>
	    <string>850</string>
		<string>225</string>
		<string>324</string>
		<string>420</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>044</string>
		<string>230</string>
		<string>430</string>
		<string>822</string>
		<string>105</string>
		<string>306</string>
	</array>
</dict>
</plist>
