<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Xảo đoạt thiên công</string>
	<key>DO</key>
	<array>
		<string>495</string>
		<string>481</string>
		<string>586</string>
	    <string>785</string>
		<string>072</string>
		<string>250</string>
		<string>210</string>
		<string>310</string>
		<string>714</string>
	    <string>600</string>
	</array>
	<key>XANH</key>
	<array>
		<string>230</string>
		<string>025</string>
		<string>411</string>
		<string>514</string>
		<string>306</string>
	</array>
</dict>
</plist>
