<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Đơn kỵ cứu chúa</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>481</string>
		<string>583</string>
	    <string>472</string>
		<string>120</string>
		<string>210</string>
		<string>510</string>
		<string>404</string>
		<string>505</string>
	</array>
	<key>XANH</key>
	<array>
		<string>370</string>
		<string>040</string>
		<string>643</string>
		<string>845</string>
		<string>306</string>
	</array>
</dict>
</plist>
