<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Ngũ hổ bình nam</string>
	<key>DO</key>
	<array>
		<string>394</string>
		<string>496</string>
		<string>465</string>
	    <string>420</string>
		<string>520</string>
		<string>310</string>
		<string>410</string>
		<string>300</string>
	</array>
	<key>XANH</key>
	<array>
		<string>580</string>
		<string>834</string>
		<string>022</string>
		<string>825</string>
		<string>815</string>
		<string>506</string>
		<string>604</string>
	</array>
</dict>
</plist>
