<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Xảo pháo quan xa</string>
	<key>DO</key>
	<array>
		<string>496</string>
		<string>072</string>
		<string>464</string>
	    <string>455</string>
		<string>120</string>
		<string>110</string>
		<string>410</string>
		<string>510</string>
	</array>
	<key>XANH</key>
	<array>
		<string>180</string>
		<string>580</string>
		<string>445</string>
		<string>822</string>
		<string>306</string>
		<string>602</string>
	</array>
</dict>
</plist>
