<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Binh lâm thành hạ</string>
	<key>DO</key>
	<array>
		<string>394</string>
		<string>496</string>
		<string>383</string>
	    <string>330</string>
		<string>323</string>
		<string>415</string>
	</array>
	<key>XANH</key>
	<array>
		<string>690</string>
		<string>580</string>
		<string>680</string>
		<string>370</string>
		<string>670</string>
		<string>845</string>
		<string>835</string>
		<string>824</string>
		<string>306</string>
	</array>
</dict>
</plist>
