<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tiên sơn đạo thảo</string>
	<key>DO</key>
	<array>
		<string>295</string>
		<string>496</string>
		<string>472</string>
	    <string>320</string>
		<string>110</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>594</string>
		<string>795</string>
		<string>634</string>
		<string>625</string>
		<string>306</string>
	</array>
</dict>
</plist>
