<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Kim nhân thất yến</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>633</string>
		<string>510</string>
	    <string>204</string>
	</array>
	<key>XANH</key>
	<array>
		<string>485</string>
		<string>580</string>
		<string>470</string>
		<string>570</string>
		<string>321</string>
		<string>526</string>
	</array>
</dict>
</plist>
