<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tô tân phong tướng</string>
	<key>DO</key>
	<array>
		<string>396</string>
		<string>595</string>
		<string>695</string>
	    <string>540</string>
		<string>024</string>
		<string>220</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>090</string>
		<string>480</string>
		<string>242</string>
		<string>630</string>
		<string>422</string>
		<string>526</string>
		<string>604</string>
		<string>704</string>
		<string>805</string>
	</array>
</dict>
</plist>
