<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Đoạt cung cầu hòa</string>
	<key>DO</key>
	<array>
		<string>295</string>
		<string>591</string>
		<string>583</string>
	    <string>371</string>
		<string>576</string>
		<string>310</string>
		<string>410</string>
		<string>000</string>
		<string>204</string>
	</array>
	<key>XANH</key>
	<array>
		<string>765</string>
		<string>550</string>
		<string>754</string>
		<string>506</string>
	</array>
</dict>
</plist>
