<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tam tinh chiếu nguyệt</string>
	<key>DO</key>
	<array>
		<string>072</string>
		<string>476</string>
		<string>250</string>
	    <string>320</string>
		<string>420</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>230</string>
		<string>022</string>
		<string>515</string>
		<string>505</string>
		<string>306</string>
	</array>
</dict>
</plist>
