<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Kỳ binh phá hiểm</string>
	<key>DO</key>
	<array>
		<string>496</string>
		<string>695</string>
		<string>894</string>
	    <string>184</string>
		<string>173</string>
		<string>265</string>
		<string>872</string>
		<string>310</string>
		<string>410</string>
	</array>
	<key>XANH</key>
	<array>
		<string>380</string>
		<string>075</string>
		<string>470</string>
		<string>560</string>
		<string>506</string>
		<string>604</string>
	</array>
</dict>
</plist>
