<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NAME</key>
    <string>Tiểu kim kê</string>
	<key>DO</key>
	<array>
		<string>496</string>
		<string>474</string>
		<string>425</string>
	    <string>310</string>
		<string>710</string>
	</array>
	<key>XANH</key>
	<array>
		<string>180</string>
		<string>785</string>
		<string>370</string>
		<string>521</string>
		<string>724</string>
		<string>516</string>
		<string>501</string>
	</array>
</dict>
</plist>
